
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
  overflow-x: hidden;
}


body {
}

h1 {
  font-weight: bold !important;
}


#navbar-btn{
  margin-left:780px;
  box-shadow: 15px 15px 30px rgb(0.1 0 0 / 0.1);
  background-color:#b32525 !important;
  border-color:#b32525 !important;
}

.nav-link {
  font-size: 15px !important;
}

a.nav-link:hover {
  background-color: #F8F9FA;
 
}


.cardHighlight {
  min-height: 100%;
  margin-bottom: 50px;
}

#card-header{
  color: #FFC000;
  font-weight: bold;
}

#card-text{
  margin-top: 50px;
  margin-bottom: 200px;
}

#homepage-button{
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 30px;
  font-size: 13px !important;
}


#card{
    padding-bottom: 75px;

}

#card1{
  box-shadow: 15px 15px 30px rgb(0.1 0 0 / 0.2);
  background-color: whitesmoke;

}

#product-view{
   box-shadow: 15px 15px 30px rgb(0.1 0 0 / 0.2);
  background-color: whitesmoke;
}


#footer{
  font-weight: bold;
  background-color: #322F2F  ;
  color: white;
  padding-top: 1rem;

}

#footer-info1{
  text-align: center;
  font-weight: bold;
  font-size: 20px !important;
  margin-top: 25px;
  margin-bottom: 8px;
  background-color: #b32525 !important;
  padding-bottom:2.5rem;
  color: white;
}


#product-card{
  justify-content: center;
}



#product-button{
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px !important; 
  background-color:#b32525 !important;
  border-color:#b32525 !important; 
}


#form-text{
  padding-top: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
}


#submitBtn{
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 15px !important;
  background-color:#b32525 !important;
  border-color:#b32525 !important; 
}


#toggle{
  margin-right: 25px;
   box-shadow: 15px 15px 30px rgb(0.1 0 0 / 0.2);
}


#profile-table{
  margin-top: 80px;
  margin-bottom: 300px;
  border-style: solid;
  border-color: #847B7B ;
  border-radius: 15px;
  box-shadow:15px 15px 30px rgb(0.1 0 0 / 0.3);
  height: 350px;
  width: 800px;
}


#profile-title{
  font-size: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
}

#profile-details{
}


#table-profile{
  margin-top: 3px;
 margin-bottom: 10px !important;
}


#dashboard-title{
  font-weight: bold !important;
}


#dashboard-btn{
  text-align: center !important;
  margin-right: 10px;
  margin-left: 10px;
  background-color: gray !important;
}


#dashboard-editbutton{
  text-align: center !important;
  margin-right: 10px;
  margin-left: 10px;
  background-color:  #808080 !important;
  border-color:  #808080 !important;
}



#admin-table{
  text-align: center !important;
  padding-bottom: 100px;
} 


#admin-table-head{
  font-size: 18px;
  text-align: center !important;
  margin-bottom: 200px;

} 


#dashboard-button-archive{
  text-align: center !important;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #b32525 !important;
  border-color: #b32525 !important;
}

#dashboard-button-update{
  text-align: center !important;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #FFA500 !important;
  border-color: #FFA500 !important;
}


#update-product-btn{
  background-color:  #8B0000 !important;
  border-color:  #8B0000 !important;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 15px !important;
}



#dashboard-btn{
  background-color: black !important;
  padding-right: 20px;
  padding-left: 20px;
  margin: 10px;
  font-size: 15px !important;
}


#update-product-form{
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 200px;
  height: 470px;
  width: 800px;
  border-radius: 15px;
  box-shadow:15px 15px 30px rgb(0.1 0 0 / 0.3);
  border-style: solid;
  border-color: #847B7B ;
}




#formBox{
  height: 470px;
  width: 350px;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow:15px 15px 30px rgb(0.1 0 0 / 0.3);
   margin-bottom: 50px;

}

.formLogin
{
  align-items: center;
}


#formHeader{
  margin-top: 25px; 
  font-weight: bold;
  margin-bottom: 35px;
}


#regformBox{
  height: 640px;
  width: 450px !important;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow:15px 15px 30px rgb(0.1 0 0 / 0.3);
  margin-bottom: 50px;
 
}

#off-canvas-button{
  background-color:#b32525 !important;
  border-color:#b32525 !important;
}
